<template>
    <div>
        <h1 class="container">
            Daftar Barang
        </h1>
        

        <form class="form" @submit.prevent="createBarang()">
            <label for="">Kode : </label>
            <input type="text" v-model="kode" ref="kode"><br>
            <label for="">Nama Barang : </label>
            <input type="text" v-model="nama_brg" ref="nama_brg"><br>
            <label for="">Harga : </label>
            <input type="number" v-model="harga" ref="harga"><br>
            <label for="">Stok : </label>
            <input type="number" v-model="stok" ref="stok"><br>
            <label for="">Deskripsi : </label>
            <input type="text" v-model="deskripsi" ref="deskripsi"><br>
            <label for="">Penulis : </label>
            <input type="text" v-model="penulis" ref="penulis"><br>
            <label for="">Penerbit : </label>
            <input type="text" v-model="penerbit" ref="penerbit"><br>
            <label for="">Tanggal : </label>
            <input type="date" v-model="tanggal" ref="tanggal"><br>

            <div v-if="btnStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="btnStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBarang(idEditBarang)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            <div v-else-if="btnStatus == 'upload'">
                <input type="file" name="gambar" ref="gambar">
                <input type="button" value="UPLOAD" @click="submitGambar(idUploadBarang)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            
        </form>
        <br>
        <div class="container">
            <table border="1">
                <th>Kode</th>
                <th>Gambar</th>
                <th>Nama Barang</th>
                <th>Harga</th>
                <th>Stok</th>
                <th>Deskripsi</th>
                <th>Penulis</th>
                <th>Penerbit</th>
                <th>Tanggal</th>
                <th>Kategori</th>
                <th>Action</th>
                <tr v-for="list of barang" :key="list.id">
                    <td>{{ list.kode }}</td>
                    <td>
                        <img width="100" :src="list.gambar ? gambarDomain + list.gambar : 'https://dummyimage.com/16:9x1080'" alt="">
                    </td>
                    <td>{{ list.nama_brg }}</td>
                    <td>{{ list.harga }}</td>
                    <td>{{ list.stok }}</td>
                    <td>{{ list.deskripsi }}</td>
                    <td>{{ list.penulis }}</td>
                    <td>{{ list.penerbit }}</td>
                    <td>{{ list.tanggal }}</td>
                    <td>{{ list.kategori_id }}</td>
                    <button @click="editBarang(list)">Edit</button>
                    <button @click="deleteBarang(list.id)">Delete</button>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            kode : '',
            nama_brg : '',
            harga : '',
            stok : '',
            deskripsi : '',
            penulis : '',
            penerbit : '',
            tanggal : '',
            kategori_id : '',
            barang : [],
            btnStatus : 'submit',
            idEditBarang : null,
            gambarDomain : 'http://localhost:8000'
        }
    },
    mounted() {
        this.getAllBarang()
    },
    methods: {
        getAllBarang() {
            axios.get("http://localhost:8000/api/barang")
            .then( response => {
                this.barang = response.data.data
            })
            .catch( error => {
                console.log(error);
            })
        },

        clearForm() {
            this.kode = '',
            this.nama_brg = '',
            this.harga = '',
            this.stok = '',
            this.deskripsi = '',
            this.penulis = '',
            this.penerbit = '',
            this.tanggal = '',
            this.btnStatus = 'submit'
            this.idEditBarang = null
        },

        createBarang() {
            let formData = new FormData()
            formData.append('kode', this.kode)
            formData.append('nama_brg', this.nama_brg)
            formData.append('harga', this.harga)
            formData.append('stok', this.stok)
            formData.append('deskripsi', this.deskripsi)
            formData.append('penulis', this.penulis)
            formData.append('penerbit', this.penerbit)
            formData.append('tanggal', this.tanggal)

            const config = {
                method : "post",
                url : "http://localhost:8000/api/barang",
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllBarang()
                // this.Barang = response.data.data
                console.log("Tambah Barang Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        deleteBarang(id) {
            const config = {
                method : "post",
                url : `http://localhost:8000/api/barang/${id}`,
                params : { _method : "DELETE"}
            }
            axios(config)
            .then( response => {
                this.getAllBarang()
                console.log("Hapus Barang Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        editBarang(list) {
            this.nama =  list.nama
            this.btnStatus = 'update'
            this.idEditBarang = list.id
        },

        updateBarang(id) {
            let formData = new FormData()
            formData.append('nama', this.nama)

            const config = {
                method : "post",
                url : `http://localhost:8000/api/barang/${id}`,
                params : { _method : 'PUT'},
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllBarang()
                // this.Barang = response.data.data
                console.log("Update Barang Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        }
    }
    
}

</script>
<style>
    .form {
        padding-left: 20px;
    }
</style>
