<template>
    <div>
        <h1 class="container">
            Daftar Kategori
        </h1>
        

        <form class="form" @submit.prevent="createKategori()">
            <label for="">Nama : </label>
            <input type="text" v-model="nama" ref="nama">

            <div v-if="btnStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="btnStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateKategori(idEditKategori)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            
        </form>

        <div class="container">
            <table class="tables" border="1">
                <th>Nama</th>
                <th>Action</th>
                <tr v-for="list of kategori" :key="list.id">
                    <td>{{ list.nama }}</td>
                    <button @click="editKategori(list)">Edit</button>
                    <button @click="deleteKategori(list.id)">Delete</button>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            nama: '',
            kategori : [],
            btnStatus : 'submit',
            idEditKategori : null
        }
    },
    mounted() {
        this.getAllKategori()
    },
    methods: {
        getAllKategori() {
            axios.get("http://localhost:8000/api/kategori")
            .then( response => {
                this.kategori = response.data.data
            })
            .catch( error => {
                console.log(error);
            })
        },

        clearForm() {
            this.nama = ''
            this.btnStatus = 'submit'
            this.idEditKategori = null
        },

        createKategori() {
            let formData = new FormData()
            formData.append('nama', this.nama)

            const config = {
                method : "post",
                url : "http://localhost:8000/api/kategori",
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllKategori()
                // this.kategori = response.data.data
                console.log("Tambah Kategori Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        deleteKategori(id) {
            const config = {
                method : "post",
                url : `http://localhost:8000/api/kategori/${id}`,
                params : { _method : "DELETE"}
            }
            axios(config)
            .then( response => {
                this.getAllKategori()
                console.log("Hapus Kategori Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        editKategori(list) {
            this.nama =  list.nama
            this.btnStatus = 'update'
            this.idEditKategori = list.id
        },

        updateKategori(id) {
            let formData = new FormData()
            formData.append('nama', this.nama)

            const config = {
                method : "post",
                url : `http://localhost:8000/api/kategori/${id}`,
                params : { _method : 'PUT'},
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllKategori()
                // this.kategori = response.data.data
                console.log("Update Kategori Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        }
    }
    
}

</script>

<style>
    .form {
        margin-left: 35px;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        width: 300px;
    }
</style>
