<template>
    <div>
        <h1 class="container">
            Daftar Users
        </h1>
        

        <form class="form" @submit.prevent="createUser()">
            <label for="">Name : </label>
            <input type="text" v-model="name" ref="name"><br>
            <label for="">Username : </label>
            <input type="text" v-model="username" ref="username"><br>
            <label for="">Email : </label>
            <input type="text" v-model="email" ref="email"><br>
            <label for="">Password : </label>
            <input type="password" v-model="password" ref="password"><br>

            <div v-if="btnStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="btnStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateUser(idEditUser)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            
        </form>

        <div class="container">
            <table border="1">
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
                <tr v-for="member of user" :key="member.id">
                    <td>{{ member.name }}</td>
                    <td>{{ member.username }}</td>
                    <td>{{ member.email }}</td>
                    <td>{{ member.is_admin }}</td>
                    <button @click="editUser(member)">Edit</button>
                    <button @click="deleteUser(member.id)">Delete</button>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    data() {
        return {
            name: '',
            username: '',
            email: '',
            is_admin: true,
            password: '',
            user : [],
            btnStatus : 'submit',
            idEditUser : null
        }
    },
    mounted() {
        this.getAllUser()
    },
    methods: {
        getAllUser() {
            axios.get("http://localhost:8000/api/user")
            .then( response => {
                this.user = response.data.data
            })
            .catch( error => {
                console.log(error);
            })
        },

        clearForm() {
            this.name = ''
            this.username = ''
            this.email = ''
            this.btnStatus = 'submit'
            this.idEditUser = null
        },

        createUser() {
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('username', this.username)
            formData.append('email', this.email)
            formData.append('is_admin', this.is_admin)
            formData.append('password', this.password)

            const config = {
                method : "post",
                url : "http://localhost:8000/api/user",
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllUser()
                // this.user = response.data.data
                console.log("Tambah User Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        deleteUser(id) {
            const config = {
                method : "post",
                url : `http://localhost:8000/api/user/${id}`,
                params : { _method : "DELETE"}
            }
            axios(config)
            .then( response => {
                this.getAllUser()
                console.log("Hapus User Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        },

        editUser(member) {
            this.name =  member.name
            this.username =  member.username
            this.email =  member.email
            this.password =  member.password
            this.btnStatus = 'update'
            this.idEditUser = member.id
        },

        updateUser(id) {
            let formData = new FormData()
            formData.append('name', this.name)
            formData.append('username', this.username)
            formData.append('email', this.email)
            formData.append('is_admin', this.is_admin)
            formData.append('password', this.password)

            const config = {
                method : "post",
                url : `http://localhost:8000/api/user/${id}`,
                params : { _method : 'PUT'},
                data : formData
            }

            axios(config)
            .then( response => {
                this.clearForm()
                this.getAllUsers()
                // this.users = response.data.data
                console.log("Update Users Berhasil")
            })
            .catch( error => {
                console.log(error);
            })
        }
    }
    
}

</script>
<style>
    .form {
        margin-left: 35px;
        margin-bottom: 20px;
        background-color: white;
        padding: 10px;
        width: 300px;
    }
</style>
